QPushButton{
   
  
    padding: 2px;
 color: #FFFFFF;
    background-color: #0C56A0;
}
QPushButton::default{
    
	
    
    padding: 2px;
    background-color: #0C56A0;
}
QPushButton:hover{
 
   
    padding: 2px;
    background-color: #0C56A0;
}
QPushButton:pressed{
    
   
    padding: 1px;
    background-color:#2A92E5;
}