QPushButton{
   
  
    padding: 2px;
 color: #FFFFFF;
    background-color: #289B55;
}
QPushButton::default{
    
	
    
    padding: 2px;
    background-color: #289B55;
}
QPushButton:hover{
 
   
    padding: 2px;
    background-color: #289B55;
}
QPushButton:pressed{
    
   
    padding: 1px;
    background-color:#289B55;
}