QPushButton{
	border-style: solid;
	border-top-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-top-right-radius: 28px; 
    border-bottom-right-radius: 28px; 
	border-width: 1px;
	border-style: solid;
	color: #a9b7c6;
	padding: 2px;
   background-color: #289B55;
}