QCheckBox:!checked
{
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	border-color:rgba(255,0,255,0.8);
	background:rgba(225,255,255,0.8);
	color:rgba(255,0,255,1);
}
QCheckBox:checked
{
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	border-color:rgba(255,0,255,0.8);
	background:rgba(225,255,255,0.8);
	color:rgba(148,0,211,1);
}
QCheckBox:hover
{
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	border-color:rgba(255,0,255,1);
	background:rgba(225,255,255,1);
	color:rgba(148,0,211,1);
}
QComboBox
{
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	border-color:rgba(255,0,255,1);
	background-color:rgba(225,255,255,1);
	color:rgba(255,0,255,1);
}
QComboBox:on
{
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	border-color:rgba(255,0,255,1);
	background:rgba(225,255,255,1);
	color:rgba(255,0,255,1);
}
QDial
{
	background-color:silver;
}
QGraphicsView
{
	border-style:solid;
	border-width:1px;
	border-radius:20px;
	border-color:rgba(255,0,255,1);
	background:rgba(244,255,255,0.8);
	color:rgba(255,0,255,1);
}
QGroupBox
{
	border-style:solid;
	border-width:1px;
	border-radius:20px;
	border-color:rgba(255,0,255,0.8);
	background-color:rgba(225,255,255,0.8);
	color:rgba(255,0,255,1);
}
QGroupBox::title
{
	background-color:rgba(225,255,255,1);
	color:rgba(148,0,211,1);
}
QLabel
{
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	border-color:rgba(255,0,255,0.8);
	background:rgba(225,255,255,0.8);
	color:rgba(255,0,255,1);
}
QLabel:hover
{
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	border-color:rgba(255,0,255,1);
	background:rgba(225,255,255,1);
	color:rgba(148,0,211,1);
}
QLineEdit
{
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	border-color:rgba(255,0,255,0.8);
	background:rgba(225,255,255,0.8);
	color:rgba(255,0,255,0.8);
	selection-background-color:rgba(225,255,255,0.8);
	selection-color:rgba(148,0,211,0.8);
}
QLineEdit::hover
{
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	border-color:rgba(255,0,255,1);
	background:rgba(225,255,255,1);
	color:rgba(148,0,211,1);
	selection-background-color:rgba(148,0,211,1);
	selection-color:rgba(225,255,255,1);
}
QListWidget
{
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	border-color:rgba(255,0,255,1);
	background:rgba(225,255,255,0.8);
	color:rgba(255,0,255,0.8);
}
QListWidget:hover
{
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	border-color:rgba(255,0,255,1);
	background:rgba(225,255,255,1);
	color:rgba(148,0,211,1);
}
QProgressBar::chunk
{
	background-color:red
}
QPushButton
{
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	border-color:rgba(255,0,255,0.8);
	background:rgba(225,255,255,0.8);
	color:rgba(0,0,255,1);
}
QPushButton:hover
{
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	border-color:rgba(255,0,255,1);
	background:rgba(225,255,255,1);
	color:rgba(255,0,255,1);
}
QPushButton:hover:pressed
{
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	border-color:rgba(255,0,255,1);
	background:rgba(225,255,255,1);
	color:rgba(148,0,211,1);
}
QPushButton:!enabled
{
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	border-color:rgba(0,0,0,0);
	background:rgba(225,255,255,0);
	color:rgba(0,0,0,1);
}
QSlider::groove:horizontal
{
	border: 1px solid #4A708B;
	background: #C0C0C0;
	height: 5px;
	border-radius: 1px;
	padding-left:-1px;
	padding-right:-1px;
}
QSlider::handle:horizontal
{
	background: qradialgradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5,stop:0.8 #45ADED, stop:0.778409 rgba(255, 255, 255, 255));
	width: 11px;
	margin-top: -3px;
	margin-bottom: -3px;
	border-radius: 5px;
}
QSlider::groove:vertical
{
	border: 1px solid #4A708B;
	background: #C0C0C0;
	width: 5px;
	border-radius: 1px;
	padding-left:-1px;
	padding-right:-1px;
	padding-top:-1px;
	padding-bottom:-1px;
}
QSlider::handle:vertical
{
	background: qradialgradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5, stop:0.8 #45ADED, stop:0.778409 rgba(255, 255, 255, 255));
	height: 11px;
	margin-left: -3px;
	margin-right: -3px;
	border-radius: 5px;
}
QSpinBox
{
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	border-color:rgba(255,0,255,1);
	background:rgba(244,255,255,0.6);
	color:rgba(255,0,255,0.8);
}
QSpinBox:up-button
{
	background:rgba(255,0,0,1);
}
QSpinBox:down-button
{
	background:rgba(0,255,0,1);
}
QTableView
{
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	border-color:rgba(255,0,255,0.8);
	background:rgba(225,255,255,0.8);
	color:rgba(255,0,255,0.8);
	selection-background-color:rgba(225,255,255,1);
	selection-color:rgba(148,0,211,1);
}
QTableView:hover
{
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	border-color:rgba(255,0,255,1);
	background:rgba(225,255,255,1);
	color:rgba(148,0,211,1);
	selection-background-color:rgba(225,255,255,1);
	selection-color:rgba(148,0,211,1);
}
QTableWidget
{
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	border-color:rgba(255,0,255,0.8);
	background:rgba(225,255,255,0.8);
	color:rgba(255,0,255,0.8);
	selection-background-color:rgba(225,255,255,1);
	selection-color:rgba(148,0,211,1);
}
QTableWidget:hover
{
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	border-color:rgba(255,0,255,1);
	background:rgba(225,255,255,1);
	color:rgba(148,0,211,1);
	selection-background-color:rgba(225,255,255,1);
	selection-color:rgba(148,0,211,1);
}
QTextBrowser
{
	background:rgba(225,255,255,0.8);
	color:rgba(255,0,255,0.8);
}
QTextEdit
{
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	border-color:rgba(255,0,255,0.8);
	background:rgba(225,255,255,0.8);
	color:rgba(255,0,255,1);
	selection-background-color:rgba(225,255,255,1);
	selection-color:rgba(148,0,211,1);
}
QTextEdit::hover
{
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	border-color:rgba(255,0,255,0.8);
	background:rgba(225,255,255,0.8);
	color:rgba(148,0,211,1);
	selection-background-color:rgba(148,0,211,1);
	selection-color:rgba(225,255,255,1);
}
QWidget
{
	border-style:solid;
	border-width:1px;
	border-radius:10px;
	border-color:rgba(255,0,255,0.6);
	background-color:rgba(225,255,255,0.6);
	color:rgba(255,0,255,1);
}
QWidget:hover
{
	border-style:solid;
	border-width:1px;
	border-radius:10px;
	border-color:rgba(255,0,255,0.8);
	background-color:rgba(225,255,255,0.8);
	color:rgba(255,0,255,0.8);
}
QWidget
{
	border-style:solid;
	border-width:1px;
	border-radius:10px;
	border-color:rgba(255,0,255,1);
	background-color:rgba(225,255,255,1);
	color:rgba(255,0,255,1);
}
QWidget#centralWidget
{
	border-style:solid;
	border-width:1px;
	border-radius:10px;
	border-color:rgba(255,0,255,1);
	border-image:url(":XZWJ/Resources/wallpaper.png");
	color:rgba(255,0,255,1);
}