QMainWindow {
    background-color:#1e1d23;
}
QDialog {
    background-color:#1e1d23;
}
QColorDialog {
    background-color:#1e1d23;
}
QTextEdit {
    background-color:#1e1d23;
    color: #a9b7c6;
}

QPlainTextEdit {
    selection-background-color:#007b50;
    background-color:#1e1d23;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-color: transparent;
    border-width: 1px;
    color: #a9b7c6;
}
QPushButton{
    border-style: solid;
    border-width: 1px;
    border-style: solid;
    color: #a9b7c6;
    padding: 2px;
    background-color: #1e1d23;
}
QPushButton::default{
    border-style: inset;
    border-color: #04b97f;
    border-width: 1px;
    color: #a9b7c6;
    padding: 2px;
    background-color: #1e1d23;
}
QTableWidget {
    border-style: solid;
    border-color: rgb(58, 58, 58);
    border-width: 1px;
    border-style: solid;
    color: #a9b7c6;
    padding: 2px;
    background-color: #1e1d23;
}
QTableWidget:hover{
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-color: #37efba;
    border-width: 2px;
    border-style: solid;
    color: #FFFFFF;
    padding: 1px;
    background-color: #1e1d23;
}
QGridLayout {
    border-style: solid;
    border-color: rgb(58, 58, 58);
    border-width: 1px;
    border-style: solid;
    color: #a9b7c6;
    padding: 2px;
    background-color: #1e1d23;
}
QGridLayout:hover{
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-color: #37efba;
    border-width: 2px;
    border-style: solid;
    color: #FFFFFF;
    padding: 1px;
    background-color: #1e1d23;
}
QToolButton {
    border-style: solid;
    border-color: #04b97f;
    border-width: 1px;
    border-style: solid;
    color: #a9b7c6;
    padding: 2px;
    background-color: #1e1d23;
}
QToolButton:hover{
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-color: #37efba;
    border-width: 2px;
    border-style: solid;
    color: #FFFFFF;
    padding: 1px;
    background-color: #1e1d23;
}
QPushButton:hover{
    border-style: solid;
    border-color: #37efba;
    border-width: 2px;
    border-style: solid;
    color: #FFFFFF;
    padding: 2px;
    background-color: #1e1d23;
}
QPushButton:pressed{
    border-style: solid;
    border-color: #37efba;
    border-width: 3px;
    border-style: solid;
    color: #37efba;
    padding: 1px;
    background-color: #1e1d23;
}
QPushButton:disabled{
    border-style: solid;
    border-color: #808086;
    border-width: 2px;
    border-style: solid;
    color: #808086;
    padding: 1px;
    background-color: #1e1d23;
}
QLineEdit {
    border-width: 1px; border-radius: 4px;
    border-color: rgb(58, 58, 58);
    border-style: inset;
    padding: 0 8px;
    color: #a9b7c6;
    background:#1e1d23;
    selection-background-color:#007b50;
    selection-color: #FFFFFF;
}
QLineEdit:hover{
    border-style: solid;
    border-color: #37efba;
    border-width: 1px;
    border-style: solid;
    color: #FFFFFF;
    padding: 2px;
    background-color: #1e1d23;
}
QLabel {
    color: #a9b7c6;
}
QLCDNumber {
    color: #37e6b4;
}
QProgressBar {
    text-align: center;
    color: rgb(240, 240, 240);
    border-width: 1px; 
    border-radius: 10px;
    border-color: rgb(58, 58, 58);
    border-style: inset;
    background-color:#1e1d23;
}
QProgressBar::chunk {
    background-color: #04b97f;
    border-radius: 5px;
}
QMenuBar {
    background-color: #1e1d23;
}
QMenuBar::item {
    color: #a9b7c6;
    spacing: 3px;
    padding: 1px 4px;
    background: #1e1d23;
}

QMenuBar::item:selected {
    background:#1e1d23;
    color: #FFFFFF;
}
QMenu::item:selected {
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #04b97f;
    border-color: transparent;
    border-left-width: 2px;
    color: #FFFFFF;
    padding-left:15px;
    padding-top:4px;
    padding:4px;
    padding-right:7px;
    background-color: #1e1d23;
}
QMenu::item {
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    color: #a9b7c6;
    padding-left:17px;
    padding-top:4px;
    padding:4px;
    padding-right:7px;
    background-color: #1e1d23;
}
QMenu{
    background-color:#1e1d23;
}
QTabWidget {
    border-color: #37efba;
    border-width: 2px;
    color:rgb(0,0,0);
    background-color:#1e1d23;
}
QTabWidget::pane {
        border-color: #37efba;
        background-color:#1e1d23;
        border-style: solid;
        border-width: 2px;
        border-radius: 6px;
}
QTabBar::tab {
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    color: #808086;
    padding: 3px;
    margin-left:3px;
    background-color: #1e1d23;
}
QTabBar::tab:selected, QTabBar::tab:last:selected, QTabBar::tab:hover {
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-color: #04b97f;
    border-width: 2px;
    border-style: solid;
    color: #FFFFFF;
    padding-left: 3px;
    padding: 2px;
    margin-left:3px;
    background-color: #1e1d23;
}

QCheckBox {
    color: #a9b7c6;
    padding: 2px;
}
QCheckBox:disabled {
    color: #808086;
    padding: 2px;
}

QCheckBox:hover {
    border-radius:4px;
    border-style:solid;
    padding-left: 1px;
    padding-right: 1px;
    padding: 1px;
    padding-top: 1px;
    border-width:1px;
    border-color: rgb(87, 97, 106);
    background-color:#1e1d23;
}
QCheckBox::indicator:checked {

    height: 10px;
    width: 10px;
    border-style:solid;
    border-width: 1px;
    border-color: #04b97f;
    color: #a9b7c6;
    background-color: #04b97f;
}
QCheckBox::indicator:unchecked {

    height: 10px;
    width: 10px;
    border-style:solid;
    border-width: 1px;
    border-color: #04b97f;
    color: #a9b7c6;
    background-color: transparent;
}
QRadioButton {
    color: #a9b7c6;
    background-color: #1e1d23;
    padding: 1px;
}
QRadioButton::indicator:checked {
    height: 10px;
    width: 10px;
    border-style:solid;
    border-radius:5px;
    border-width: 1px;
    border-color: #04b97f;
    color: #a9b7c6;
    background-color: #04b97f;
}
QRadioButton::indicator:!checked {
    height: 10px;
    width: 10px;
    border-style:solid;
    border-radius:5px;
    border-width: 1px;
    border-color: #04b97f;
    color: #a9b7c6;
    background-color: transparent;
}
QStatusBar {
    color:#027f7f;
}
QSpinBox {
    color: #a9b7c6; 
    background-color: #1e1d23;
}
QDoubleSpinBox {
    color: #a9b7c6; 
    background-color: #1e1d23;
}
QTimeEdit {
    color: #a9b7c6; 
    background-color: #1e1d23;
}
QDateTimeEdit {
    color: #a9b7c6; 
    background-color: #1e1d23;
}
QDateEdit {
    color: #a9b7c6; 
    background-color: #1e1d23;
}
QComboBox {
    color: #a9b7c6; 
    background: #1e1d23;
}
QComboBox:hover{
    border-style: solid;
    border-color: #37efba;
    border-width: 1px;
    border-style: solid;
    color: #FFFFFF;
    padding: 2px;
    background-color: #1e1d23;
}


QComboBox:editable {
    background: #1e1d23;
    color: #a9b7c6;
    selection-background-color: #1e1d23;
}
QComboBox QAbstractItemView {
    color: #a9b7c6; 
    background: #1e1d23;
    selection-color: #FFFFFF;
    selection-background-color: #1e1d23;
}
QComboBox:!editable:on, QComboBox::drop-down:editable:on {
    color: #a9b7c6; 
    background: #1e1d23;
}
QFontComboBox {
    color: #a9b7c6; 
    background-color: #1e1d23;
}
QToolBox {
    color: #a9b7c6;
    background-color: #1e1d23;
}
QToolBox::tab {
    color: #a9b7c6;
    background-color: #1e1d23;
}
QToolBox::tab:selected {
    color: #FFFFFF;
    background-color: #1e1d23;
}
QScrollArea {
    color: #FFFFFF;
    background-color: #1e1d23;
}
QSlider::groove:horizontal {
    height: 5px;
    background: #04b97f;
}
QSlider::groove:vertical {
    width: 5px;
    background: #04b97f;
}
QSlider::handle:horizontal {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #b4b4b4, stop:1 #8f8f8f);
    border: 1px solid #5c5c5c;
    width: 14px;
    margin: -5px 0;
    border-radius: 7px;
}
QSlider::handle:vertical {
    background: qlineargradient(x1:1, y1:1, x2:0, y2:0, stop:0 #b4b4b4, stop:1 #8f8f8f);
    border: 1px solid #5c5c5c;
    height: 14px;
    margin: 0 -5px;
    border-radius: 7px;
}
QSlider::add-page:horizontal {
    background: white;
}
QSlider::add-page:vertical {
    background: white;
}
QSlider::sub-page:horizontal {
    background: #04b97f;
}
QSlider::sub-page:vertical {
    background: #04b97f;
}